<div class="container-master-reset-password">

  <div class="container-full-left">
    <img src="assets/img/img-logo.png" class="w-100 h-100" />
  </div>

  <div class="container-full-right">
    <div class="d-flex justify-content-center">
      <div class="w-50 container-reset-password">
        <app-request-password-reset *ngIf="confirmAccountSuccess == undefined"></app-request-password-reset>
        <app-reset-password-confirm
        [email]="confirmAccountSuccess['email'] ?? ''"
        [token]="confirmAccountSuccess['token'] ?? ''"
        *ngIf="confirmAccountSuccess != undefined"></app-reset-password-confirm>
      </div>
    </div>
  </div>
</div>
