<h1 class="title-request-password-reset w-100 text-center">REDEFINIR SENHA</h1>
<div class="container-form-login">
  <form [formGroup]="formRequestPasswordReset" (ngSubmit)="passwordReset()">
    <mat-form-field appearance="fill" class="form-field w-100">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="Password"  [type]="hidePassword ? 'password' : 'text'">
      <p mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </p>
      <mat-error *ngIf="formRequestPasswordReset.controls['Password'].errors?.['required']">insira sua senha</mat-error>
      <mat-error *ngIf="formRequestPasswordReset.controls['Password'].errors?.['minlength']">caracteres insufisciente:
        {{formRequestPasswordReset.controls['Password'].errors?.['minlength']?.['actualLength']}}/
        {{formRequestPasswordReset.controls['Password'].errors?.['minlength']?.['requiredLength']}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field w-100">
      <mat-label>Confirmação da senha</mat-label>
      <input matInput formControlName="ConfirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
      <p mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </p>
      <mat-error *ngIf="formRequestPasswordReset.controls['ConfirmPassword'].errors?.['required']">insira sua senha</mat-error>
      <mat-error *ngIf="formRequestPasswordReset.controls['ConfirmPassword'].errors?.['mustMatch']">as senhas não correspondem</mat-error>
      <mat-error *ngIf="formRequestPasswordReset.controls['ConfirmPassword'].errors?.['minlength']">caracteres insufisciente:
        {{formRequestPasswordReset.controls['ConfirmPassword'].errors?.['minlength']?.['actualLength']}}/
        {{formRequestPasswordReset.controls['ConfirmPassword'].errors?.['minlength']?.['requiredLength']}}
      </mat-error>
    </mat-form-field>

    <div class="btn-actions-form">
      <button mat-raised-button color="primary" type="submit" class="btn-submit">
        Redefirnir <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </form>
</div>
