<h1 class="title-request-password-reset">REDEFINIR SENHA</h1>
<form [formGroup]="formRequestPasswordReset" (ngSubmit)="requestPasswordReset()">
  <mat-form-field appearance="fill" class="request-password-reset-form-field">
    <mat-label>CPF</mat-label>
    <input matInput formControlName="CPF" mask="000.000.000-00" placeholder="Digite o seu CPF para a redefinição de senha">
    <mat-error *ngIf="formRequestPasswordReset.controls['CPF'].errors?.['required']">campo obrigatório</mat-error>
  </mat-form-field>
  <div class="btn-request-password-reset-form">
    <button mat-raised-button
            (click)="backToLogin()"
            class="btn-back-to-login btn-back-to-login-left">
      IR PARA O LOGIN
    </button>
    <button mat-raised-button
            color="primary"
            type="submit"
            class="btn-request-password-reset btn-request-password-reset-right">
      CONFIRMAR
    </button>
  </div>
</form>
