.title-request-password-reset {
  color: #5E16EB;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10%;
  width: 100%;
}

.request-password-reset-form-field {
  display: block;
  margin: 5% 0;
}

.btn-request-password-reset {
  width: 48%;
}

.btn-back-to-login {
  width: 48%;
  background-color: #4F7DCA;
  color: white;
}

.btn-request-password-reset-right {
  float: right;
}

.btn-back-to-login-left {
  float: left;
}

.btn-request-password-reset-form {
  margin-top: 5%;
}


@media only screen and (max-device-width: 1024px) {
  .btn-request-password-reset {
    width: 100%;
    margin-top: 1rem;
  }

  .btn-back-to-login {
    width: 100%;
    background-color: #4F7DCA;
    color: white;
  }
  .title-request-password-reset {
    color: #5E16EB;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 10%;
    width: 100%;
  }
}

@media only screen and (max-device-width: 600px){
  .title-request-password-reset {
    color: #5E16EB;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10%;
    width: 100%;
  }
  .btn-request-password-reset {
    width: 100%;
    margin-top: 1rem;
    font-size: 0.7rem;
  }

  .btn-back-to-login {
    width: 100%;
    background-color: #4F7DCA;
    font-size: 0.5rem;
    color: white;
  }
}

@media only screen and (max-device-width: 249px){
  .btn-request-password-reset {
    width: 100%;
    margin-top: 1rem;
  }

  .btn-back-to-login {
    width: 100%;
    background-color: #4F7DCA;
    color: white;
  }
}
