.content-card{
  background-color: rgba(206, 206, 206, 0.1);
  border-radius: 0rem 0rem 1rem 1rem;
  cursor: pointer;
}

.text-card{
  transition: all .2s;
  font-size: 1.2rem;
}
.text-card:hover{
  transform: scale(1.1);
}

.row{
  margin: 0 0;
  height: 5rem;
}

.container-img{
  border-bottom: solid 2px rgba(95, 23, 234, 0.5);
}
